main {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1{
    margin: 30px;
    font-size: 3em;
    font-weight: 700;
}

/* topDicas */

main .topDicas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 0 5%;
}

main .topDicas ol{
    color: #0ABF8C;
    font-size: 2em;
}

main .topDicas ol li{
    margin: 20px 0;
    border-bottom: 1px solid gray;
}

main .topDicas ol li div{
    color: black;
    font-size: 1rem;
}

/* artigos */

main .artigos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0ABF8C;
    padding: 50px 0;
}

main .artigos div{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    overflow: hidden;
    border-radius: 20px;
    background: #0ABF8C;
    box-shadow:  20px 20px 60px #045f45,
                -20px -20px 60px #17fdbc;
}


main .artigos div h2{
    width: 100%;
    text-align: center;
    color: white;
}

main .artigos div img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}


main .artigos div p{
    width: 100%;
    text-align: justify;
    font-size: 0.9em;
}

/* especialistas */

.especialistas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #119e76;
    overflow: hidden;
    padding-bottom: 50px;
}

.especialistas h1{
    font-weight: 400;
    color: white;
    margin-bottom: 30px;
}

.especialistas p{
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 50px;
}

.especialistas .content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.especialistas .content div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
}

.especialistas .content div img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.especialistas .content div p{
    margin: 0;
}

/* tendencias */

.tendencias{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
}

.tendencias h1{
    color: #0ABF8C;
    text-align: center;
    font-size: 2em;
}

.tendencias p{
    font-size: 0.9em;
    font-weight: bold;
    color: #333;
}

@media screen and (max-width: 700px){
    main .artigos{
        flex-direction: column;
        gap: 30px;
    }

    main .artigos div{
        width: 80%;
    }

    /* especialistas */

    .especialistas p{
        margin: 0 30px 30px 30px;
    }

    .tendencias p{
        font-size: 0.8em;
    }
    
    .tendencias ol li{
        font-size: 0.8em;
    }
}