*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

/* header */

header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: #0ABF8C;
    position: fixed;
    z-index: 10;
}

header a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: 400;
    transition: all 0.3s ease;
}

header a:hover{
    color: #0b6a4f;
}

header a span{
    background-color: white;
    color: #0ABF8C;
    padding: 5px;
    transition: all 0.3s ease;
}

header a:hover span{
    background-color: #0b6a4f;
    color: white;
}

header ul{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: auto 0;
    gap: 20px;
}

header ul li a{
    font-size: 1em;
    white-space: nowrap;
}

header ul li a img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.fullscreen-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0abf8ce3;
    z-index: 9999;
    display: none;
  }

  .fullscreen-menu-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #064231;
  }

  .fullscreen-menu-content div{
    margin-bottom: 5px;
  }

  .fullscreen-menu-content div a{
    text-decoration: none;
    color: #333;
    white-space: nowrap;
    border-bottom: 1px solid #333;
  }

  .open-menu-button {
    display: none;
  }

  .no-scroll {
    overflow: hidden;
  }

/* banner */

.banner{
    width: 100%;
    height: 100vh;
    padding: 70px 50px 0 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.banner .content{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}

.banner .content h1{
    font-weight: 700;
    font-size: 3em;
}

.banner .content p{
    width: 60%;
    font-size: 0.9em;
}

.banner .content a{
    width: 200px;
    background-color: #0ABF8C;
    border: none;
}

.banner .image{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 55%;
    height: auto;
}

.banner .image img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* topics */

.topics{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 30px;
    gap: 50px;
}

.topics div{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.topics div .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topics div .content h2{
    color: #0b6a4f;
    font-weight: 700;
    text-align: center;
}

.topics div .content p{
    color: rgb(35, 35, 35);
}

.topics div .image{
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* footer */

footer{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-end;
}

footer .info{
    width: 50%;
    height: 170px;
    background-color: #0e8b68;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer .info .logo{
    text-decoration: none;
    color: #0ABF8C;
    font-size: 1.2em;
}

footer .info a span{
    background-color: white;
    padding: 5px;
}

footer .info ul{
    display: flex;
    list-style: none;
}

footer .info ul li a{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}


footer .social{
    width: 50%;
    height: 200px;
    background-color: #0ABF8C;
    border-radius: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
}

footer .social ul{
    width: 50%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

footer .social ul li a{
    text-decoration: none;
    color: white;
}

footer .social ul li a:hover{
    text-decoration: none;
    color: #0b6a4f;
}

footer .social ul li a img{
    width: 30px;
    height: 30px;
}

footer .social h3{
    letter-spacing: 1px;
}

@media screen and (max-width: 700px){
    header ul{
        display: none;
    }

    .open-menu-button {
        color: white;
        display: block;
        cursor: pointer;
      }

    .banner{
        flex-direction: column;
        padding: 100px 0;
    }

    .banner .content{
        width: 100%;
        align-items: center;
        padding: 0 30px;
    }

    .banner .content h1{
        text-align: center;
        font-size: 2em;
    }

    .banner .content p{
        text-align: center;
        font-size: 0.8em;
        width: 100%;
    }

    .banner .image{
        display: none;
    }

    /* topics */

    .topics{
        margin-top: -80px;
        margin-bottom: 80px;
        padding: 0 30px;
    }

    .topics div{
        width: 100%;
        height: 200px;
    }

    .topics div .image{
        width: 70%;
    }

    .topics div .content h2{
        font-size: 1em;
    }

    .topics div .content p{
        font-size: 0.6em;
    }

    footer{
        width: 100%;
        height: fit-content;
        align-items: center;
    }

    footer .info{
        display: none;
    }

    footer .social{
        padding-bottom: 100px;
        width: 100%;
        height: 200px;
        border-radius: 0;
        flex-direction: row;
        gap: 0;
    }

    footer .social ul{
        width: 40%;
    }

    footer .social h3{
        width: 60%;
        text-align: center;
        font-size: 0.9em;
    }
}

